@import "./variables";
@import "./mixins";

.about {
  width: 100%;
  max-width: 100vw;
  padding: 0 1rem;
  height: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__article {
    width: 100%;
    margin: 1rem 0 0;
    padding: 1rem 0;
    background-color: $description-bg-color;

    &-icon {
      height: 4rem;
      background-image: url("../images/icons/hands-helping.svg");
      background-position: center;
      background-repeat: no-repeat;

      &[data-scroll] {
        opacity: 0;
        transition: opacity 1.5s;
      }
      &[data-scroll="in"] {
        opacity: 1;
      }
      &[data-scroll="out"] {
        opacity: 0;
      }
    }

    &-title {
      font-size: 1.25rem;
      font-family: $text-font-family;
      font-weight: 500;
      color: $header-bg-color;
      text-align: center;
      margin: 1rem auto;

      &[data-scroll] {
        opacity: 0;
        transition: opacity 1.5s;
      }
      &[data-scroll="in"] {
        opacity: 1;
      }
      &[data-scroll="out"] {
        opacity: 0;
      }
    }

    &-title.contact-title {
      font-size: 1.25rem;
      font-family: $text-font-family;
      font-weight: 500;
      color: $header-bg-color;
      text-align: center;
      margin: 1.5rem auto;
      background-color: transparent;

      &[data-scroll] {
        opacity: 0;
        transform: scale(0.1);
      }
      &[data-scroll="in"] {
        opacity: 1;
        transform: scale(1);
        transition: scale 1.5s 2.5s, opacity 1.5s 1.5s;
      }
      &[data-scroll="out"] {
        opacity: 0;
        transform: scale(0.1);
      }
    }

    &-subtitle {
      width: 100%;
      font-size: 1.1rem;
      font-family: $text-font-family;
      font-weight: 500;
      color: $header-bg-color;
      text-align: left;
      margin: 0.5rem 0;
    }

    &-paragraph {
      font-size: 1rem;
      font-family: $text-font-family;
      font-weight: 400;
      color: $header-bg-color;
      text-align: left;
      margin: 0.5rem 0;
      line-height: 1.25rem;
    }

    &-list {
      padding-left: 2rem;
      margin: 0 0 0.5rem 0;

      &-item {
        font-size: 1rem;
        font-family: $text-font-family;
        font-weight: 400;
        color: $header-bg-color;
        text-align: left;
        margin: 0.5rem 0 0;
        line-height: 1.25rem;
      }
    }

    &-subtitle,
    &-paragraph,
    &-list {
      &[data-scroll] {
        transform: translateX(-100vw);
        transition: transform 1s ease-out 0.5s;
      }
      &[data-scroll="in"] {
        transform: translateX(0);
      }
      &[data-scroll="out"] {
        transform: translateX(-100vw);
      }
    }

    &:nth-of-type(2) {
      .about__article-icon {
        background-image: url("../images/icons/award.svg");
      }
    }

    &:nth-of-type(3) {
      .about__article-icon {
        background-image: url("../images/icons/crosshairs.svg");
      }
    }

    &:nth-of-type(4) {
      .about__article-icon {
        background-image: url("../images/icons/user-friends.svg");
      }
    }

    &:nth-of-type(5) {
      .about__article-icon {
        background-image: url("../images/icons/cogs.svg");
      }
    }
  }

  @media (min-width: 768px) {
    &__article {
      padding: 1rem 2rem;
    }
  }

  @media (min-width: 1280px) {
    &__article {
      padding: 1rem calc((100vw - 1280px + 4rem) / 2);
    }
  }
}
