@import "./variables";
@import "./mixins";

.hero,
.hero-about,
.hero-offers,
.hero-services {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  padding-top: 60px;
  width: 100%;
  max-width: 100vw;
  height: calc(80vw + #{$mobile-top-bar-height});
  max-height: 600px;
  background-position: center;
  background-size: cover;

  &__title {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding: 0.8rem 0;
    margin: 0;
    background-color: $hero-image-description-bg-color;
    font-size: 1.25rem;
    font-family: $text-font-family;
    font-weight: 500;
    letter-spacing: 0.125rem;
    color: white;
    text-align: center;
    text-transform: uppercase;

    &::after {
      position: absolute;
      content: "";
      width: 40%;
      max-width: 400px;
      height: 2px;
      bottom: 0.6rem;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../images/gallery/page_title_underline.svg");
      border-radius: 1px;
    }
  }

  @media (orientation: landscape) {
    height: 100vh;
    max-height: calc(100vh - #{$mobile-top-bar-height} * 2);
  }

  @media (min-width: 768px) {
    height: 50vh;
    max-height: 600px;

    &__title {
      bottom: 3rem;
      font-size: 2rem;
      padding: 1rem 0;

      &::after {
        width: 30%;
        bottom: 0.8rem;
      }
    }
  }

  @media (min-width: 1024px) {
    margin-top: $desktop-top-bar-height;
    padding-top: $desktop-top-bar-height;
    height: calc(100vh - #{$desktop-top-bar-height});
    max-height: calc(100vh - #{$desktop-top-bar-height});

    @media (orientation: portrait) {
      height: 75vh;
      max-height: 75vh;
    }

    &__title {
      font-size: 2.5rem;
      padding: 1.25rem 0;

      &::after {
        width: 30%;
        bottom: 1.05rem;
      }
    }
  }

  @media (min-width: 1280px) {
    &__title {
      bottom: 4rem;
      font-size: 3rem;
      padding: 1.35rem 0;

      &::after {
        width: 30%;
        height: 3px;
        bottom: 1.15rem;
      }
    }
  }
}

.hero {
  position: relative;
  padding-top: 0;
  overflow: hidden;

  @media (min-width: 1024px) {
    height: calc(100vw / 16 * 9);
    max-height: calc(100vw / 16 * 9);
  }

  &-carousel {
    .hero-image-wrapper {
      position: relative;
      height: calc(80vw + #{$mobile-top-bar-height});
      max-height: 100vw;
      max-width: 100vw;
      overflow: hidden;

      @media (min-width: 1024px) {
        width: 100vw;
        height: calc(100vw / 16 * 9);
      }

      .hero-image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      a {
        position: absolute;
        width: 50%;
        right: 0;
        bottom: 3rem;
        text-decoration: none;

        @media (min-width: 768px) {
          bottom: 12rem;
        }

        @media (min-width: 1024px) {
          bottom: unset;
          top: calc(100% - 128px);
        }

        @media (min-width: 1280px) {
          bottom: unset;
          top: calc(100% - 320px);
          font-size: 1.25rem;

          @media (min-height: 960px) {
            bottom: unset;
            top: calc(100% - 288px);
          }
        }

        .hero-image-description-wrapper {
          width: 100%;
          background-color: $hero-image-description-bg-color;
          font-family: $text-font-family;
          color: $hero-image-description-font-color;
          font-size: 0.8rem;
          font-weight: 400;
          padding: 0.2rem 0;

          .hero-image-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0.5rem 1rem;

            &--city,
            &--price {
              margin: 0.25rem 0;
            }
          }

          @media (min-width: 768px) {
            font-size: 1rem;
            font-weight: 400;

            .hero-image-description {
              margin: 0 0 0 2rem;

              &--city,
              &--price {
                margin: 0.5rem 0;
              }
            }
          }

          @media (min-width: 1024px) {
            font-size: 1.15rem;
            font-weight: 300;

            .hero-image-description {
              margin: 0.75rem 1.5rem;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            }
          }

          @media (min-width: 1280px) {
            font-size: 1.25rem;

            .hero-image-description {
              margin: 0.75rem 2rem;
            }
          }
        }
      }
    }
  }

  .hero-control-prev,
  .hero-control-next {
    @include flex-center-center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: $hero-image-description-bg-color;
    color: #ffffff;
    z-index: 5;
    cursor: pointer;

    img {
      height: 50%;
      width: auto;
    }
  }

  .hero-control-prev {
    left: 1rem;
    padding-right: 0.125rem;
  }

  .hero-control-next {
    right: 2rem;
    padding-left: 0.125rem;
  }
}

.hero-about {
  background-image: url("../images/heroes/about_hero_768_371.jpg");

  .hero__title {
    bottom: 1rem;
  }

  @media (min-width: 768px) {
    background-image: url("../images/heroes/about_hero_1024_495.jpg");
    .hero__title {
      bottom: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    position: relative;
    background-image: url("../images/heroes/about_hero_1920_929.jpg");

    .hero__title {
      bottom: 1rem;
    }
  }
  @media (min-width: 1680px) {
    .hero__title {
      bottom: 2rem;
    }
  }
}

.hero-offers {
  background-image: url("../images/heroes/offers_1024_532.jpg");
  background-position: top;

  .hero__title {
    position: absolute;
    width: 100%;
  }

  @media (min-width: 1024px) {
    background-image: url("../images/heroes/offers_1920_998.jpg");
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);

    @media (orientation: portrait) {
      height: 75vh;
      max-height: 75vh;
    }
  }
}

.hero-services {
  background-image: url("../images/heroes/krakow_01_768_522_dark.jpg");

  @media (min-width: 768px) {
    background-image: url("../images/heroes/krakow_01_1024_697_dark.jpg");
  }

  @media (min-width: 1024px) {
    background-image: url("../images/heroes/krakow_01_1920_1306_dark.jpg");
  }
}
