@import "./variables";
@import "./mixins";

.search {
  .search-wrapper {
    @include flex-center-center;
    width: 100%;
    padding: 2rem 0 1rem;

    .search-form {
      @include flex-center-center;
      flex-direction: column;
      width: 100%;

      .search-form-selects-wrapper {
        @include flex-center-center;
        flex-direction: column;

        .single-select-wrapper {
          @include select-item;

          .search-form__property,
          .search-form__transaction {
            font-family: $text-font-family;
            width: 220px;
            height: 2.5rem;
            font-size: 0.9rem;
            border-radius: 1.25rem;
          }
        }
      }

      &__button {
        @include flex-center-center;
        flex-wrap: nowrap;
        font-family: $text-font-family;
        font-size: 0.9rem;
        font-weight: 500;
        width: 180px;
        height: 2.5rem;
        margin-top: 0.75rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        background-color: #ffffff;
        border: 1px solid #36446d;
        border-radius: 1.25rem;
        color: #36446d;
        cursor: pointer;
        padding: 0;

        &--icon {
          height: 40%;
          width: auto;
          max-width: 16px;
          margin-right: 0.5rem;
        }
      }
    }

    @media (orientation: landscape) {
      width: 100%;

      .search-form {
        .search-form-selects-wrapper {
          flex-direction: row;

          .single-select-wrapper {
            .select-arrow {
              top: 1.5rem;
              right: 1.4rem;
            }

            .search-form__property,
            .search-form__transaction {
              margin: 0.5rem;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .search-wrapper {
      height: 20%;
      width: 100%;

      .search-form {
        flex-direction: row;

        .search-form-selects-wrapper {
          flex-direction: row;

          .single-select-wrapper {
            margin: 0;

            .select-arrow {
              top: 19px;
              right: 1.2rem;
            }

            .search-form__property,
            .search-form__transaction {
              height: 2rem;
              margin: 0.5rem;
            }
          }
        }

        &__button {
          width: 220px;
          font-family: $text-font-family;
          height: 2rem;
          margin: 0.5rem;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    @include flex-center-center;

    .search-wrapper {
      padding: 1rem 0 1rem;
    }

    @media (orientation: portrait) {
      .search-wrapper {
        .search-form-selects-wrapper {
          .single-select-wrapper {
            .search-form__property,
            .search-form__transaction {
              font-size: 0.8rem;
            }
          }
        }

        &__button {
          &--icon {
            height: 40%;
            margin-right: 1rem;
          }
        }
      }
    }

    @media (min-width: 1280px) {
      .search-wrapper {
        bottom: 2rem;
        width: 60%;
        max-height: 140px;

        .search-form__button {
          height: 2rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
